body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(223, 221, 221);
}

h1{
    color: rgb(24, 89, 159);
}

form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
}

#textbox{
    width: 50px;
    text-align: center;
    font-size: 2em;
    border: 2px solid;
    border-radius: 4px;
    margin-bottom: 15px;
}

label{
    font-size: 1em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: rgb(255, 106, 106);
    color: white;
    font-size: 1em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(248, 61, 61);
}

#result{
    font-size: 1.75em;
    font-weight: bold;
}